# Core dependencies
numpy
pandas
scikit-learn
matplotlib
seaborn
jupyter

# Fairness and XAI
fairlearn
aif360
shap
lime
dice-ml

# Robustness and Drift
adversarial-robustness-toolbox
evidently

# Utils
python-dotenv
tqdm